@model IList<ExamplesDotnetFramework.Models.Contato>

@{
    ViewBag.Title = "Listar Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewBag.Title.</h2>
<p>
    @Html.ActionLink("Novo Contato", "Create")
</p>

<table class="table">
    <thead>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Data de Nascimento</th>
        <th>Ação</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.nome)</td>
                <td>@Html.DisplayFor(modelItem => item.telefone)</td>
                <td>@Html.DisplayFor(modelItem => item.dataNascimento)</td>
                <td>
                    @Html.ActionLink("Editar", "Retrieve", new { codigo = item.codigo}) | @Html.ActionLink("Deletar", "Delete", new { codigo = item.codigo })
                </td>
            </tr>
        }
    </tbody>
</table>